runtime = electron
target = 1.8.4
msvs_version=2015
build_from_source=true
disturl = https://atom.io/download/electron
sass_binary_site=http://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs/
electron_mirror=http://npm.taobao.org/mirrors/electron/
SQLITE3_BINARY_SITE=http://npm.taobao.org/mirrors/sqlite3
NVM_IOJS_ORG_MIRROR=http://npm.taobao.org/mirrors/iojs
